$black-000: #000;
$black-0d0: #0d0d0d;
$black-232: #232323;
$white-fff: #fff;
$blue-bae: #bae6fd;
$orange-f13: #f1302f;
$gray-a1a: #a1a1a1;
$brown-a94: #a9463c;
$gray-686: #686868;
$green-144: #144244;
$gray-454: #454545;
$gray-878: #878787;
