@use "../../../styles/variables.scss";
@import "../../../styles/responsive.scss";

.review-card {
  background-color: variables.$black-232;
  border-radius: 12px;
  padding: 24px 20px;
  @include respond-to(sm) {
    padding: 48px 40px;
  }

  &__review {
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    color: variables.$white-fff;
    margin-bottom: 35px;

    @include respond-to(sm) {
      margin-bottom: 70px;
    }
  }

  &__user-info {
    display: flex;
    align-items: center;
    gap: 16px;

    &__avatar {
      height: 48px;
      width: 48px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 7px;
      &__name-kor {
        font-family: "Pretendard", sans-serif;
        font-size: 16px;
        color: variables.$white-fff;
      }
      &__name-en {
        font-size: 12px;
        color: variables.$gray-a1a;
      }
    }
  }
}

.carousel {
  padding-bottom: 90px;
  @include respond-to(sm) {
    padding-bottom: 120px;
  }
  @include respond-to(lg) {
    padding-bottom: 144px;
  }
  @include respond-to(xl) {
    padding-bottom: 180px;
  }

  &__btn-group {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-left: 20px;
    margin-bottom: 42px;
    @include respond-to(sm) {
      margin-left: 32px;
      margin-bottom: 56px;
    }
    @include respond-to(lg) {
      margin-left: 46px;
      margin-bottom: 67px;
    }
    @include respond-to(xl) {
      margin-left: 63px;
      margin-bottom: 84px;
    }

    &__next,
    &__previous {
      height: 48px;
      width: 48px;
      background-color: variables.$gray-454;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: none;
      &__icon {
        height: 14px;
        width: 14px;
        color: variables.$white-fff;
      }
    }
    &__next {
      transform: rotate(180deg);
    }
  }

  :global(.swiper-slide) {
    width: 280px;

    @include respond-to(sm) {
      width: 420px;
    }
    @include respond-to(lg) {
      width: 500px;
    }
  }
}
